
    <header>
      <div class="container-fluid" style="padding-top: 115px; padding-bottom: 100px;">
        <div class="row">
          <div class="col-lg-12 big-logo">
            <img class="img-responsive"> <%=image_tag("bird2.png")%>
            <div class="intro-text">
                <span class="name">Knovation Learning</span>
                <hr class="mainline">
                <span class="skills">Harness the Power of Managed OER</span>
            </div>
          </div>
            <div class="col-md-12 col-sm-12">
              <a><%= link_to '', "#Lead", class: 'feature-icon fa fa-chevron-circle-down downarrow page-scroll' %></a>
            </div>
        </div>
      <section id="Lead">
    </header>
        </br>
        </br>
        </br>

        <div class="container">
         <div class="main-text">
          Knovation brings trust, order, and context to a wealth of free online resources so you can easily find what you need, when you need it.
          </div>
        </div>
      </section>

        <div class="container-fluid">
          <div class="container panel panel-default home-table">
            <div class="panel-body">
              <table class="table" style="padding-bottom:0px">
              <thead>
                <tr>
                  <th class="home-table-rows2"></th>
                  <th class="home-table-rows"></th>
                  <th class="home-table-rows">ELEMENTARY</th>
                  <th class="home-table-rows">MIDDLE</th>
                  <th class="home-table-rows">HIGH</th>
                  <th class="home-table-rows2"></th>
                </tr>
              </thead>
              <tbody>

              <tr>
                <td class="table-subject1"></td>
                <td class="home-table-center">
                  <%= link_to ela_path, class: "btn btn-primary btn-lg table-button3" do %>
                            LANGUAGE ARTS
                      <span class="fa fa-external-link launch-icon" aria-hidden="true"></span>
                      <%end%>
                </td>                <td class="home-table-center"> <%= link_to '18,318', ela_path(:elementary_ela => true), class: "btn btn-primary btn-lg table-button2 disabled" %> </td>
                <td class="home-table-center"> <%= link_to '21,128', ela_path(:middle_ela => true), class: "btn btn-primary btn-lg table-button2 disabled" %> </td>
                <td class="home-table-center"> <%= link_to '24,612', ela_path(:high_ela => true), class: "btn btn-primary btn-lg table-button1 disabled" %> </td>
                <td class="table-subject"></td>
              </tr>
              <tr>
                <td class="table-subject1"></td>
                <td class="home-table-center">
                  <%= link_to math_path, class: "btn btn-primary btn-lg table-button3" do %>
                            MATHEMATICS
                      <span class="fa fa-external-link launch-icon" aria-hidden="true"></span>
                      <%end%>
                </td>
                <td class="home-table-center"> <%= link_to '17,089', math_path(:elementary_math => true), class: "btn btn-primary btn-lg table-button2 disabled" %> </td>
                <td class="home-table-center"> <%= link_to '22,171', math_path(:middle_math => true), class: "btn btn-primary btn-lg table-button2 disabled" %> </td>
                <td class="home-table-center"> <%= link_to '22,773', math_path(:high_math => true), class: "btn btn-primary btn-lg table-button1 disabled" %> </td>
                <td class="table-subject"></td>
              </tr>
              <tr>
                <td class="table-subject1"></td>
                <td class="home-table-center">
                  <%= link_to science_path, class: "btn btn-primary btn-lg table-button3" do %>
                            SCIENCE
                      <span class="fa fa-external-link launch-icon" aria-hidden="true"></span>
                      <%end%>
                </td>                <td class="home-table-center"> <%= link_to '20,517', science_path(:elementary_science => true), class: "btn btn-primary btn-lg table-button2 disabled" %> </td>
                <td class="home-table-center"> <%= link_to '41,343', science_path(:middle_science => true), class: "btn btn-primary btn-lg table-button2 disabled" %> </td>
                <td class="home-table-center"> <%= link_to '46,458', science_path(:high_science => true), class: "btn btn-primary btn-lg table-button1 disabled" %> </td>
                <td class="table-subject"></td>
              </tr>
              <tr>
                <td class="table-subject1"></td>
                <td class="home-table-center">
                  <%= link_to socialstudies_path, class: "btn btn-primary btn-lg table-button3" do %>
                            SOCIAL STUDIES
                      <span class="fa fa-external-link launch-icon" aria-hidden="true"></span>
                      <%end%>
                </td>                <td class="home-table-center"> <%= link_to '12,888', socialstudies_path(:elementary_ss => true), class: "btn btn-primary btn-lg table-button2 disabled" %> </td>
                <td class="home-table-center"> <%= link_to '36,178', socialstudies_path(:middle_ss => true), class: "btn btn-primary btn-lg table-button2 disabled" %> </td>
                <td class="home-table-center"> <%= link_to '42,779', socialstudies_path(:high_ss => true), class: "btn btn-primary btn-lg table-button1 disabled" %> </td>
                <td class="table-subject"></td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th class="home-table-rows2"></th>
                <th class="home-table-rows"></th>
                <th class="home-table-rows"></th>
                <th class="home-table-rows"></th>
                <th class="home-table-rows"></th>
                <th class="home-table-rows2"></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <section id="Integration">
      <div class="parallax-like0">
          <div class="overlay">
          </div>
      </div>

        <div class="container-fluid">
        <div class="container feature-container">
          <div class="feature-heading">
            <h2>About the Knovation Content Collection</h2>
            <hr class="featureline">
          </div>
          <div class="row features">
              <div>
                  <div class="col-md-4 col-sm-6"
                    <i><%= link_to '', 'http://www.knovationlearning.com/solutions/content-collection/content-providers',target: "_blank", class: 'feature-icon fa fa-university support' %></i>
                    <div class="centertext">
                      <%= link_to 'Content Providers', 'http://www.knovationlearning.com/solutions/content-collection/content-providers',target: "_blank", class: 'feature-links' %>
                      <p class="supportp">Learn more about Knovation's reputable content providers.</h3>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <i><%= link_to '', 'https://na8.salesforce.com/sfc/p/#80000000KiC4/a/C00000000Exg/_F.04jrjonRJKvSReXxixjnt5o12PV8dfHMmqJN80As',target: "_blank", class: 'feature-icon fa fa-thumbs-up support' %></i>
                    <div class="centertext">
                      <%= link_to 'Certification Process', 'https://na8.salesforce.com/sfc/p/#80000000KiC4/a/C00000000Exg/_F.04jrjonRJKvSReXxixjnt5o12PV8dfHMmqJN80As',target: "_blank", class: 'feature-links' %>
                      <p class="supportp">Our certificaiton process is second to none.</h3>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6 bottomitem">
                    <i><%= link_to '', 'http://www.knovationlearning.com/solutions/content-collection/content-team/',target: "_blank", class: 'feature-icon fa fa-group support' %></i>
                    <div class="centertext">
                      <%= link_to 'Content Team', 'http://www.knovationlearning.com/solutions/content-collection/content-team/',target: "_blank", class: 'feature-links' %>
                      <p class="supportp">Learn more about our world class content team</h3>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <section class="no-padding" id="portfolio">
      <section id="Management">
        <div class="parallax-like">
            <div class="overlay">
            </div>
        </div>

        <div class="container-fluid">
          <div class="container feature-container">
            <div class="feature-heading">
              <h2>Management of the Knovation Content Collection</h2>
              <hr class="featureline">
            </div>
            <div class="row features">

                <div>
                    <div class="col-md-4 col-sm-6">
                      <i><%= link_to '', curation_path, target: "_blank", class: 'feature-icon fa fa-search support' %></i>
                      <div class="centertext">
                        <%= link_to 'Curation', curation_path, target: "_blank", class: 'feature-links' %>
                        <p class="supportp">We only curate the best learning resources. Learn how.</h3>
                      </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                      <i><%= link_to '', contextualization_path, target: "_blank", class: 'feature-icon fa fa-bullseye support' %></i>
                      <div class="centertext">
                        <%= link_to 'Contextualization', contextualization_path, target: "_blank", class: 'feature-links' %>
                        <p class="supportp">We tag to what matters to teachers and students.</h3>
                      </div>
                    </div>

                    <div class="col-md-4 col-sm-6 bottomitem">
                      <i><%= link_to '', maintenance_path, target: "_blank", class: 'feature-icon fa fa-wrench support' %></i>
                      <div class="centertext">
                        <%= link_to 'Maintenance', maintenance_path, target: "_blank", class: 'feature-links' %>
                        <p class="supportp">Ensure a reliable experience through our maintenance process.</h3>
                      </div>
                    </div>
                  </div>

              </div>
          </section>
        </div>
      </div>

    <section id="Integration">
      <div class="parallax-like2">
          <div class="overlay">
          </div>
      </div>

      <div class="container-fluid">
        <div class="container feature-container">
          <div class="feature-heading">
            <h2>Integration with the Knovation Content Collection</h2>
            <hr class="featureline">
          </div>

          <div class="row features">
              <div>
                  <div class="col-md-4 col-sm-6">
                    <i><%= link_to '', 'https://na8.salesforce.com/sfc/p/#80000000KiC4/a/C00000000FDA/BwwuCw2jkhzgdikWhD1lm3nIcdElD2DGrxzeG2oUSYQ',target: "_blank", class: 'feature-icon fa fa-exchange support' %></i>
                    <div class="centertext">
                      <%= link_to 'API Content Service', 'https://na8.salesforce.com/sfc/p/#80000000KiC4/a/C00000000FDA/BwwuCw2jkhzgdikWhD1lm3nIcdElD2DGrxzeG2oUSYQ',target: "_blank", class: 'feature-links' %>
                      <p class="supportp">Get connected with our API Content Service for the best search around.</h3>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <i><%= link_to '', 'https://na8.salesforce.com/sfc/p/80000000KiC4/a/C00000000EzI/RjUINRDhkvMQA8cfGkO70QjD3fI0B7s45sm_44GPwuY',target: "_blank", class: 'feature-icon fa fa-cloud-download support' %></i>
                    <div class="centertext">
                      <%= link_to 'Cloud Content Service', 'https://na8.salesforce.com/sfc/p/80000000KiC4/a/C00000000EzI/RjUINRDhkvMQA8cfGkO70QjD3fI0B7s45sm_44GPwuY',target: "_blank", class: 'feature-links' %>
                      <p class="supportp">Use the best curated content in the industry in your own platform.</h3>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6 bottomitem">
                    <i><%= link_to '', 'http://www.knovationvideos.com/videos/57',target: "_blank", class: 'feature-icon fa fa-random support' %></i>
                    <div class="centertext">
                      <%= link_to 'Integration Partners', 'http://www.knovationvideos.com/videos/57',target: "_blank", class: 'feature-links' %>
                      <p class="supportp">We've partnered with industry leaders to integrate our apps.</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  </br>
  </br>
  </br>
  </br>
  <div class="vcenterfooters">
    <% if user_signed_in? %>
       <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-controls" %>
       <% else %>
       <%= link_to "Log in", new_user_session_path, class: "btn btn-md btn-hover btn-primary" %>
     <% end %>
   </div>

   <!-- <div class="container-fluid">
       <div class="row">
         <div class="col-lg-4 col-sm-6">
             <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
               <div class="row big-icon">
                   <div class="col-lg-4 col-sm-12 col-lg-offset-4">
                     <i class="fa fa-search"></i>
                   </div>
                   <div class="col-lg-12 col-sm-12 boxcenter">
                     <h2 style="margin-top:0px; padding-bottom:15px;"> Curation </h2>
                   </div>
                 </div>
                 <div class="portfolio-box-caption">
                     <div class="portfolio-box-caption-content">
                         <div class="project-category text-faded">
                             Curation
                         </div>
                         <div class="project-name">
                             Curation is lorem ipsum dolor sit amet...
                         </div>
                     </div>
                 </div>
             </a>
         </div>
         <div class="col-lg-4 col-sm-6">
             <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
               <div class="row big-icon">
                   <div class="col-lg-4 col-sm-12 col-lg-offset-4">
                     <i class="fa fa-bullseye"></i>
                   </div>
                   <div class="col-lg-12 col-sm-12 boxcenter">
                     <h2 style="margin-top:0px; padding-bottom:15px;"> Contextualization </h2>
                   </div>
                 </div>
                 <div class="portfolio-box-caption">
                     <div class="portfolio-box-caption-content">
                         <div class="project-category text-faded">
                             Contextualization
                         </div>
                         <div class="project-name">
                             Contextualization is lorem ipsum dolor sit amet...
                         </div>
                     </div>
                 </div>
             </a>
         </div>
         <div class="col-lg-4 col-sm-6">
             <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
               <div class="row big-icon">
                   <div class="col-lg-4 col-sm-12 col-lg-offset-4">
                     <i class="fa fa-wrench"></i>
                   </div>
                   <div class="col-lg-12 col-sm-12 boxcenter">
                     <h2 style="margin-top:0px; padding-bottom:15px;"> Maintenance </h2>
                   </div>
                 </div>
                 <div class="portfolio-box-caption">
                     <div class="portfolio-box-caption-content">
                         <div class="project-category text-faded">
                             Maintenance
                         </div>
                         <div class="project-name">
                             Maintenance is lorem ipsum dolor sit amet...
                         </div>
                     </div>
                 </div>
             </a>
         </div> -->
       </div>
