
    <header>
      <div class="container-fluid" style="padding-top: 115px; padding-bottom: 120px;">
          <div class="row">
              <div class="col-lg-12 big-logo ">
                  <img class="img-responsive"> <%=image_tag("bird2.png")%>
                  <div class="intro-text">
                      <span class="name">Knovation Learning</span>
                      <hr class="mainline">
                      <span class="skills">Harness the Power of Managed OER</span>
                  </div>
              </div>
          </div>
    </header>
    </br>
    </br>
    </br>

        <div class="container">
         <div class="center">
          <h2>Knovation brings trust, order, and context to a wealth of free online resources so you can easily find what you need, when you need it. </br> (This text needs to be jazzed up a bit and the table is a work in progress.)</h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="container panel panel-default home-table">
            <div class="panel-body">
              <table class="table">
              <thead>
                <tr>
                  <th class="home-table-rows"></th>
                  <th class="home-table-rows">Elementary</th>
                  <th class="home-table-rows">Middle</th>
                  <th class="home-table-rows">High</th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td class="table-subject">Language Arts</td>
                <td class="home-table-center"> <%= link_to '123', ela_path(:elementary_ela => true), class: "btn btn-primary btn-lg table-button2" %> </td>
                <td class="home-table-center"> <%= link_to '456', ela_path(:middle_ela => true), class: "btn btn-primary btn-lg table-button2" %> </td>
                <td class="home-table-center"> <%= link_to '789', ela_path(:high_ela => true), class: "btn btn-primary btn-lg table-button1" %> </td>
              </tr>
              <tr>
                <td class="table-subject">Mathematics</td>
                <td class="home-table-center"> <%= link_to '123', math_path(:elementary_math => true), class: "btn btn-primary btn-lg table-button2" %> </td>
                <td class="home-table-center"> <%= link_to '456', math_path(:middle_math => true), class: "btn btn-primary btn-lg table-button2" %> </td>
                <td class="home-table-center"> <%= link_to '789', math_path(:high_math => true), class: "btn btn-primary btn-lg table-button1" %> </td>
              </tr>
              <tr>
                <td class="table-subject">Science</td>
                <td class="home-table-center"> <%= link_to '123', science_path(:elementary_science => true), class: "btn btn-primary btn-lg table-button2" %> </td>
                <td class="home-table-center"> <%= link_to '456', science_path(:middle_science => true), class: "btn btn-primary btn-lg table-button2" %> </td>
                <td class="home-table-center"> <%= link_to '789', science_path(:high_science => true), class: "btn btn-primary btn-lg table-button1" %> </td>
              </tr>
              <tr>
                <td class="table-subject">Social Studies</td>
                <td class="home-table-center"> <%= link_to '123', socialstudies_path(:elementary_ss => true), class: "btn btn-primary btn-lg table-button2" %> </td>
                <td class="home-table-center"> <%= link_to '456', socialstudies_path(:middle_ss => true), class: "btn btn-primary btn-lg table-button2" %> </td>
                <td class="home-table-center"> <%= link_to '789', socialstudies_path(:high_ss => true), class: "btn btn-primary btn-lg table-button1" %> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


        <div class="container-fluid">
        <div class="container feature-container">
          <div class="feature-heading">
            <h2>About the Knovation Content Collection</h2>
            <hr class="featureline">
          </div>
          <div class="row features">
              <div>
                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-university"></i>
                          <h2>Content Providers</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-thumbs-up"></i>
                          <h2>Certification Process</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-group"></i>
                          <h2>Content Team</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <section class="no-padding" id="portfolio">
      <section id="Management">
        <div class="parallax-like">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div>
                              <h3> Text could be added here </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
          <div class="container feature-container">
            <div class="feature-heading">
              <h2>Management of the Knovation Content Collection</h2>
              <hr class="featureline">
            </div>

              <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                          <div class="row big-icon">
                              <div class="col-lg-4 col-sm-12 col-lg-offset-4">
                                <i class="fa fa-search"></i>
                              </div>
                              <div class="col-lg-12 col-sm-12 boxcenter">
                                <h2 style="margin-top:0px; padding-bottom:15px;"> Curation </h2>
                              </div>
                            </div>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Curation
                                    </div>
                                    <div class="project-name">
                                        Curation is lorem ipsum dolor sit amet...
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                          <div class="row big-icon">
                              <div class="col-lg-4 col-sm-12 col-lg-offset-4">
                                <i class="fa fa-bullseye"></i>
                              </div>
                              <div class="col-lg-12 col-sm-12 boxcenter">
                                <h2 style="margin-top:0px; padding-bottom:15px;"> Contextualization </h2>
                              </div>
                            </div>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Contextualization
                                    </div>
                                    <div class="project-name">
                                        Contextualization is lorem ipsum dolor sit amet...
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                          <div class="row big-icon">
                              <div class="col-lg-4 col-sm-12 col-lg-offset-4">
                                <i class="fa fa-wrench"></i>
                              </div>
                              <div class="col-lg-12 col-sm-12 boxcenter">
                                <h2 style="margin-top:0px; padding-bottom:15px;"> Maintenance </h2>
                              </div>
                            </div>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Maintenance
                                    </div>
                                    <div class="project-name">
                                        Maintenance is lorem ipsum dolor sit amet...
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                  </div>
              </div>
          </section>
        </div>
      </div>

    <section id="Integration">
      <div class="parallax-like2">
          <div class="overlay">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                          <div>
                            <h3> Text could be added here </h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="container-fluid">
        <div class="container feature-container">
          <div class="feature-heading">
            <h2>Integration with the Knovation Content Collection</h2>
            <hr class="featureline">
          </div>

          <div class="row features">
              <div>
                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-exchange"></i>
                          <h2>API Content Service</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-cloud-download"></i>
                          <h2>Cloud Content Service</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-random"></i>
                          <h2>Integration Partners</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  </br>
  </br>
  </br>
  </br>
  <div class="vcenterfooters">
    <% if user_signed_in? %>
       <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-controls" %>
       <% else %>
       <%= link_to "Log in", new_user_session_path, class: "btn btn-md btn-hover btn-primary" %>
     <% end %>
   </div>
