
<div class="container">
  <div class="page-header" style="margin-bottom: 30px; padding-top: 40px;">
    <h1 class="feature-heading">Integrations</h1>
    <h1><small>Knovation curated OER is integrated with industry leading Learning Management Systems, Assessment Solutions, and Learning Object Repositories in order to meet the diverse needs of students and teachers.</small></h1>
  </div>
</div>

<div class="container-fluid">
    <div class="row integrations_row">
      <div class="col-lg-4 col-sm-6">
        <div class="integration-box">
          <a href="http://www.knovationvideo.com/videos/57" target="_blank" class="portfolio-box">
            <img> <%=image_tag("canvas_final.jpg")%>
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Canvas by Instructure
                      </div>
                      <div class="project-name">
                          Knovation offers an external tool integration in Canvas, which allows teachers to embed managed links directly in their course, supported by LTI authentication.
                      </div>
                  </div>
              </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
          <a href="https://na8.salesforce.com/sfc/p/80000000KiC4/a/C0000000U3rX/4.JYRYdJYrOY5LkMBdGVP_2sMwbsZzYkavmLZ7jVDjI" target="blank" class="portfolio-box">
            <img> <%=image_tag("schoology_final.jpg")%>
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Schoology
                      </div>
                      <div class="project-name">
                        Knovation offers an external tool integration in Schoology, which allows teachers to embed managed links directly in their course, supported by LTI authentication.
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-4 col-sm-6">
          <a href="https://na8.salesforce.com/sfc/p/#80000000KiC4/a/C0000000U3rD/CxY1kD24cYojZLNU.JQogiexiGe.QwigKTrUIXdbXsA" target="blank" class="portfolio-box">
            <img> <%=image_tag("itsl_final.jpg")%>
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          its learning
                      </div>
                      <div class="project-name">
                          Knovation offers single sign-on authentication in its learning to applications that provide teachers and students with access to Knovation curated OER.
                      </div>
                  </div>
              </div>
          </a>
      </div>
    </div>

  <div class="row integrations_row">
    <div class="col-lg-4 col-sm-6">
      <div class="integration-box">
        <a href="https://na8.salesforce.com/sfc/p/80000000KiC4/a/C0000000U3rS/eNOEXaZRiyyW6g6IgIg9Nc3pXxxdkdUyo4_c8iP_xRQ" target="_blank" class="portfolio-box">
          <img> <%=image_tag("blackboard_final.jpg")%>
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Blackboard
                    </div>
                    <div class="project-name">
                      Knovation offers single sign-on authentication in Blackboard to applications that provide teachers and students with access to Knovation curated OER.
                    </div>
                </div>
            </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a href="https://na8.salesforce.com/sfc/p/80000000KiC4/a/C0000000U3rI/4zYEz3zgkuGGS80Y3kSU.S5jaU3LBrxK9LALmI7kIKw" target="blank" class="portfolio-box">
          <img> <%=image_tag("haiku_final.jpg")%>
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Haiku
                    </div>
                    <div class="project-name">
                      Knovation offers single sign-on authentication in Haiku to applications that provide teachers and students with access to Knovation curated OER.
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a href="https://na8.salesforce.com/sfc/p/80000000KiC4/a/C0000000U3rN/zmypbvk9Bm6YHvEvV550XuKVptwVOvyd7Uf_gt5aQvk" target="blank" class="portfolio-box">
          <img> <%=image_tag("moodle_final.jpg")%>
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Moodle
                    </div>
                    <div class="project-name">
                      Knovation offers single sign-on authentication in Moodle to applications that provide teachers and students with access to Knovation curated OER.
                    </div>
                </div>
            </div>
        </a>
    </div>
  </div>

  <div class="row integrations_row">
    <div class="col-lg-4 col-sm-6">
      <div class="integration-box">
        <a href="" target="_blank" class="portfolio-box">
          <img> <%=image_tag("agilix_final.jpg")%>
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Aglix BrainHoney
                    </div>
                    <div class="project-name">
                      Knovation offers single sign-on authentication in BrainHoney to applications that provide teachers and students with access to Knovation curated OER.
                    </div>
                </div>
            </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a href="" target="blank" class="portfolio-box">
          <img> <%=image_tag("IA_final.jpg")%>
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Interactive Achievement
                    </div>
                    <div class="project-name">
                      Knovation offers single sign-on authentication for Interactive Achievement to applications that provide teachers and students with access to Knovation curated OER.
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a href="" target="blank" class="portfolio-box">
          <img> <%=image_tag("engrade_final.jpg")%>
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Engrade
                    </div>
                    <div class="project-name">
                      Mcgraw Hill's partnership with Knovation provides seemless access to curated OER within the Engrade Learning Management System.
                    </div>
                </div>
            </div>
        </a>
    </div>
  </div>

  <div class="row integrations_row">
    <div class="col-lg-4 col-sm-6">
      <div class="integration-box">
        <a href="" target="_blank" class="portfolio-box">
          <img> <%=image_tag("NWEA_final.jpg")%>
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        NWEA Skills Navigator
                    </div>
                    <div class="project-name">
                      NWEA's partnership with Knovation provides seemless access to curated OER within the Skills Navigator Platform.
                    </div>
                </div>
            </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a href="" target="blank" class="portfolio-box">
          <img> <%=image_tag("scantron_final.jpg")%>
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Scantron
                    </div>
                    <div class="project-name">
                      Knovation offers single sign-on authentication in Scantron's Performance Series and Acheivement Series to applications that provide teachers and students with access to Knovation curated OER.
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a href="" target="blank" class="portfolio-box">
          <img> <%=image_tag("safari_final.jpg")%>
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Safari Montage
                    </div>
                    <div class="project-name">
                      Safari Montage's partnership with Knovation provides seemless access to curated OER within the Learning Object Repository.
                    </div>
                </div>
            </div>
        </a>
    </div>
  </div>

  <div style="margin-top:20px; margin-bottom: 60px;">
    <h1 style="text-align:center;"><small>More to Come...</small></h1>
  </div>
</div>
