<div class="container">
  <div>
    <%= form_for @spotlight, html: { multipart: true } do |f| %>
      <% if @spotlight.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@spotlight.errors.count, "error") %> prohibited this spotlight from being saved:</h2>

          <ul>
          <% @spotlight.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
          <div class=  "well-spotlight">
            <div class="col-md-3">
              <b>Select One:</b>
            </div>
            <div class="col-md-5">
              <div>
                <%= f.label :month %>
                <%= f.select(:month, options_for_select([['January'], ['February'], ['March'], ['April'], ['May'], ['June'], ['July'], ['August'], ['September'], ['October'], ['November'], ['December']], {:selected => @spotlight.month}),:prompt => "Select") %>
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <%= f.label :year %>
                <%= f.select(:year, options_for_select([['2017'], ['2018']], {:selected => @spotlight.year}),:prompt => "Select") %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :publisher %><br>
        <%= f.text_field :publisher, class: "form-control" %>
      </div>

      <!-- <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div> -->

      <div class="row">
        <div class="form-group col-xs-6" style="margin-bottom: 0px;">
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %>
          <p>Current Image URL: <%= @spotlight.image %> </p></br>
        </div>
        <div class="form-group col-xs-6">
          <%= f.label :icon %><br>
          <%= f.text_field :icon, class: "form-control"%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description_title %><br>
        <%= f.text_field :description_title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description,  rows: "5", class: "form-control form-long" %>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <h4>Featured Resources</h4>
          <div class="resource-container">
              <table class="table table-hover table-vcenter">
                <tbody>
                  <% @featuredresources.each do |resource| %>
                    <tr>
                      <td><%= check_box_tag :resource_ids, resource.id, @spotlight.resources.include?(resource), :name => 'spotlight[resource_ids][]'-%></td>
                      <td style="width:45%"><%= link_to image_tag(resource.image.url(:thumb)), resource.url,:target => "_blank" %></td>
                      <td><%= label_tag :resource_titles, raw(resource.title) %></td>
                      <td><%= link_to 'Edit', edit_resource_path(resource), class: "btn btn-primary" %></td>
                    </tr>
                  <% end -%>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-5">
            <h4>Supporting Resources</h4>
            <div class="resource-container">
                <table class="table table-hover table-vcenter">
                  <tbody>
                    <% @supportingresources.each do |resource| %>
                      <tr>
                        <td><%= check_box_tag :resource_ids, resource.id, @spotlight.resources.include?(resource), :name => 'spotlight[resource_ids][]'%></td>
                        <td style="width:45%"><%= link_to image_tag(resource.image.url(:thumb)), resource.url,:target => "_blank" %></td>
                        <td><%= label_tag :resource_titles, raw(resource.title) %></td>
                        <td><%= link_to 'Edit', edit_resource_path(resource), class: "btn btn-primary" %></td>
                      </tr>
                    <% end -%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </br>

      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to 'Cancel', @spotlight , class: "btn btn-danger"%>
      </div>
    <% end %>
  </div>
</div>
