<div class="container faqs-container">
  <div class="page-header" style="margin-bottom: 70px;">
    <div id="spotlights" class="transitions-enabled">
      <div class="row">
        <% @spotlights.each do |spotlight| %>
          <div class="col-sm-6 col-md-6 box">
            <div class="panel panel-default spotlightpanel">
              <div>
                <%= link_to image_tag(spotlight.image.url(:medium)), spotlight %>
              </div>
              <div class="panel-body">
                <h4><%= spotlight.publisher.html_safe %></h4>
                <p align="left"><%= spotlight.description.truncate(270).html_safe %><p>
                  <hr class="index_line">
                <%= spotlight.month %> <%= spotlight.year %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
