  <%= form_for @resource, html: {multipart: true} do |f| %>
    <% if @resource.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

        <ul>
        <% @resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="row">
    <div class="form-group col-xs-5">
      <%= f.label :url, "URL" %><br>
      <%= f.url_field :url, class: "form-control" %>
    </div>
    <div class="form-group col-xs-7">
      <%= f.label :title %>
      <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Title Information"
      data-content="Select text in this field to apply the same style used for this evaluation."></i>
      <%= f.text_area :title, class: "form-control editable" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Description Information"
    data-content="Select text in this field to apply the same style used for this evaluation"></i>
    <%= f.text_area :description, class: "form-control editable form-long", rows: "7" %>
  </div>

  <div class="row">
    <div class="form-group col-xs-9">
      <div class="form-group">
        <%= f.label :author_publisher, "Publisher/Author" %>
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Publisher/Author Information"
        data-content=" Please include Publisher, followed by Author."></i>
        <%= f.text_field :author_publisher, class: "form-control" %>
      </div>
    </div>
    <div class="form-group col-xs-3">
      <div class="form-group">
        <%= f.label :lexile, "Lexile© Score" %>
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Lexile Information"
        data-content="Enter N/A or the Lexile score."></i>
        <%= f.text_field :lexile, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Select an item from each menu</div>
    <div class="panel-body">
      <div class="form-inline">
        <div class="form-group drop-down-group">
          <%= f.label :subject %>
          <%= f.select(:subject, options_for_select([['None'], ['Math'], ['Science'], ['Social Studies'], ['Language Arts'], ['Fine Arts']], {:selected => @resource.subject}),:prompt => "Select One") %>
        </div>
        <div class="form-group drop-down-group">
          <%= f.label :grade, "Academic Level" %>
          <%= f.select(:grade, options_for_select([['Elementary'], ['Middle'], ['High']], {:selected => @resource.grade}),:prompt => "Select One") %>
        </div>
        <div class="form-group drop-down-group" >
          <%= f.label :lrt, "LRT" %>
          <%= f.select(:lrt, options_for_select([['3-D Printing Plan'], ['Activity'], ['App'], ['Article'], ['Assessment'], ['Audio Content'], ['ebook'], ['Interactive Media'], ['Learning Game'], ['Learning Module'], ['Lesson Plan'], ['Primary Source Document'], ['Professional Learning Resource'], ['Reference Material'], ['Student-Created Material'], ['Test Preparation Matieral'], ['Video'], ['Virtual Course'], ['Visual Material'], ['Website'], ['Whiteboard Resource']], {:selected => @resource.lrt}),:prompt => "Select One") %>
        </div>
        <div class="form-group drop-down-group">
          <%= f.label :readability, "Readability" %>
          <%= f.select(:readability, options_for_select([['N/A'],['1'], ['2'], ['3'], ['4'], ['5']], {:selected => @resource.readability}),:prompt => "Select One") %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">Roles</div>
        <div class="panel-body" style="padding-left: 30px;">
          <div>
            <%= check_box_tag 'resource[role][]', 'Student', rolecheck('Student'), id: 'role_student' %>&nbsp;
            <%= label_tag 'role_student', 'Student' %>
          </div>
          <div>
            <%= check_box_tag 'resource[role][]', 'Teacher', rolecheck('Teacher'), id: 'role_teacher' %>&nbsp;
            <%= label_tag 'role_teacher', 'Teacher' %>
          </div>
          <div>
            <%= check_box_tag 'resource[role][]', 'Admin', rolecheck('Admin'), id: 'role_admin' %>&nbsp;
            <%= label_tag 'role_admin', 'Admin' %>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">Languages</div>
        <div class="panel-body" style="padding-left: 30px;">
          <div class="col-md-2">
          <div>
            <%= check_box_tag 'resource[language][]', 'English', languagecheck('English'), id: 'language_english' %>&nbsp;
            <%= label_tag 'language_english', 'English' %>
          </div>
          <div>
            <%= check_box_tag 'resource[language][]', 'Arabic', languagecheck('Arabic'), id: 'language_arabic' %>&nbsp;
            <%= label_tag 'language_arabic', 'Arabic' %>
          </div>
          <div>
            <%= check_box_tag 'resource[language][]', 'Chinese', languagecheck('Chinese'), id: 'language_chinese' %>&nbsp;
            <%= label_tag 'language_chinese', 'Chinese' %>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <%= check_box_tag 'resource[language][]', 'Dutch', languagecheck('Dutch'), id: 'language_dutch' %>&nbsp;
            <%= label_tag 'language_dutch', 'Dutch' %>
          </div>
          <div>
            <%= check_box_tag 'resource[language][]', 'French', languagecheck('French'), id: 'language_french' %>&nbsp;
            <%= label_tag 'language_french', 'French' %>
          </div>
          <div>
            <%= check_box_tag 'resource[language][]', 'German', languagecheck('German'), id: 'language_german' %>&nbsp;
            <%= label_tag 'language_german', 'German' %>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <%= check_box_tag 'resource[language][]', 'Haitian', languagecheck('Haitian'), id: 'language_haitiancreole' %>&nbsp;
            <%= label_tag 'language_haitiancreole', 'Haitian' %>
          </div>
          <div>
            <%= check_box_tag 'resource[language][]', 'Hmong', languagecheck('Hmong'), id: 'language_hmong' %>&nbsp;
            <%= label_tag 'language_hmong', 'Hmong' %>
          </div>
          <div>
            <%= check_box_tag 'resource[language][]', 'Japanese', languagecheck('Japanese'), id: 'language_japanese' %>&nbsp;
            <%= label_tag 'language_japanese', 'Japanese' %>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <%= check_box_tag 'resource[language][]', 'Korean', languagecheck('Korean'), id: 'language_korean' %>&nbsp;
            <%= label_tag 'language_korean', 'Korean' %>
          </div>
          <div>
            <%= check_box_tag 'resource[language][]', 'Portugeuse', languagecheck('Portugeuse'), id: 'language_portugeuse' %>&nbsp;
            <%= label_tag 'language_portugeuse', 'Portugeuse' %>
          </div>
          <div>
            <%= check_box_tag 'resource[language][]', 'Russian', languagecheck('Russian'), id: 'language_russian' %>&nbsp;
            <%= label_tag 'language_russian', 'Russian' %>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <%= check_box_tag 'resource[language][]', 'Spanish', languagecheck('Spanish'), id: 'language_spanish' %>&nbsp;
            <%= label_tag 'language_spanish', 'Spanish' %>
          </div>
          <div>
            <%= check_box_tag 'resource[language][]', 'Tagalog', languagecheck('Tagalog'), id: 'language_tagalog' %>&nbsp;
            <%= label_tag 'language_tagalog', 'Tagalog' %>
          </div>
          <div>
            <%= check_box_tag 'resource[language][]', 'Urdu', languagecheck('Urdu'), id: 'language_urdu' %>&nbsp;
            <%= label_tag 'language_urdu', 'Urdu' %>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <%= check_box_tag 'resource[language][]', 'Vietnamese', languagecheck('Vietnamese'), id: 'language_vietnamese' %>&nbsp;
            <%= label_tag 'language_vietnamese', 'Vietnamese' %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.label :keyword, "Keywords" %>
      <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Keyword Information"
      data-content="Please select <Enter> after adding each keyword. This will separate kewyords with a comma on the page that displays this resource."></i>
      <%= f.text_area :keyword, class: "form-control form-long", rows: "5" %>
    </div>

    <div class="form-group col-xs-8">
      <%= f.label :standard, "Standards" %>
      <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Standards Information"
      data-content="Select text in this field and click on the small dot. This will allow you to separate multiple standards using an unordered list."></i>
      <%= f.text_area :standard, class: "form-control editable form-long", rows: "9"%>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-6">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
      <p>Current Image URL: <%= @resource.image %> </p></br>
    </div>
    <div class="form-group col-xs-6 drop-down-group" >
      <%= f.label :resource_type, "Resource Type" %>
      <%= f.select(:resource_type, options_for_select([['None'], ['Featured'], ['Supporting']], {:selected => @resource.resource_type}),:prompt => "Select One") %>
    </div>
  </div>


    <div class="form-group" style="padding-bottom:55px; padding-top:15px;">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Cancel', resources_path, class: "btn btn-danger white-text"%>
    </div>

  <% end %>

<script>
  var editor = new MediumEditor('.editable', {
      toolbar: {
          buttons: [
              'bold',
              'italic',
              'underline',
              'unorderedlist',
              'removeFormat'
          ]
      },
      placeholder: false
  });
</script>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>

<script>
$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    })});
</script>
