  <%= form_for @resource, html: {multipart: true} do |f| %>
    <% if @resource.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

        <ul>
        <% @resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="row">
    <div class="form-group col-xs-6">
      <%= f.label :url, "URL" %><br>
      <%= f.url_field :url, class: "form-control" %>
    </div>
    <div class="form-group col-xs-6">
      <%= f.label :title %>
      <i class="fa fa-info-circle info-icon" aria-hidden="true" data-toggle="popover" title="Title Information"
      data-content="Select text in this field to apply the same style used for this evaluation."></i>
      <%= f.text_area :title, class: "form-control editable" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <i class="fa fa-info-circle info-icon" aria-hidden="true" data-toggle="popover" title="Description Information"
    data-content="Select text in this field to apply the same style used for this evaluation"></i>
    <%= f.text_area :description, class: "form-control editable form-long", rows: "7" %>
  </div>

  <div class="form-group">
    <%= f.label :author_publisher, "Author/Publisher" %><br>
    <%= f.text_field :author_publisher, class: "form-control" %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Select an item from each menu</div>
    <div class="panel-body">
      <div class="form-inline">
        <div class="form-group drop-down-group" style="height: 85px;">
          <%= f.label :subject %>
          <%= f.select(:subject, options_for_select([['Math'], ['Science'], ['Social Studies'], ['Language Arts']], {:selected => @resource.subject}),:prompt => "Select One") %>
        </div>
        <div class="form-group drop-down-group">
          <%= f.label :grade, "Academic Level" %>
          <%= f.select(:grade, options_for_select([['Elementary'], ['Middle'], ['High']], {:selected => @resource.grade}),:prompt => "Select One") %>

        </div>
        <div class="form-group drop-down-group"  style="margin-top: 20px;">
          <%= f.label :lrt, "LRT" %>
          <%= f.select(:lrt, options_for_select([['3-D Printing Plan'], ['Activity'], ['App'], ['Article'], ['Assessment'], ['Audio Content'], ['ebook'], ['Interactive Media'], ['Learning Game'], ['Learning Module'], ['Lesson Plan'], ['Primary Source Document'], ['Professional Learning Resource'], ['Reference Material'], ['Student-Created Material'], ['Test Preparation Material'], ['Video'], ['Virtual Course'], ['Visual Material'], ['Website'], ['Whiteboard Resource']], {:selected => @resource.lrt}),:prompt => "Select One") %>

        </div>
        <div class="form-group drop-down-group">
          <%= f.label :role %>
          <%= f.select(:role, options_for_select([['Admin'], ['Student'], ['Teacher']], {:selected => @resource.role}),:prompt => "Select One") %>

        </div>
        <div class="form-group drop-down-group">
          <%= f.label :language %>
          <%= f.select(:language, options_for_select([['English'], ['Arabic'], ['Chinese'], ['Dutch'], ['French'], ['German'], ['Haitian Creole'], ['Hmong'], ['Japanese'], ['Korean'], ['Portuguese'], ['Russian'], ['Spanish'], ['Tagalog'], ['Urdu'], ['Vietnamese']], {:selected => @resource.language}),:prompt => "Select One") %>

        </div>
        <div class="form-group drop-down-group">
          <%= f.label :readability, "Readability" %>
          <%= f.select(:readability, options_for_select([['N/A'],['1'], ['2'], ['3'], ['4'], ['5']], {:selected => @resource.readability}),:prompt => "Select One") %>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.label :keyword, "Keywords" %>
      <i class="fa fa-info-circle info-icon" aria-hidden="true" data-toggle="popover" title="Keyword Information"
      data-content="Please select enter after adding each keyword. This will separate kewyords with a comma on the page that displays this resource."></i>
      <%= f.text_area :keyword, class: "form-control form-long", rows: "5" %>
    </div>

    <div class="form-group col-xs-8">
      <%= f.label :standard, "Standards" %>
      <i class="fa fa-info-circle info-icon" aria-hidden="true" data-toggle="popover" title="Standards Information"
      data-content="Select text in this field and click on the small dot. This will allow you to separate multiple standards using an unordered list."></i>
      <%= f.text_area :standard, class: "form-control editable form-long", rows: "9"%>
    </div>
  </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Cancel', resources_path, class: "btn btn-danger white-text"%>
    </div>

  <% end %>

<script>
  var editor = new MediumEditor('.editable', {
      toolbar: {
          buttons: [
              'bold',
              'italic',
              'underline',
              'unorderedlist',
              'removeFormat'
          ]
      },
      placeholder: false
  });
</script>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>

<script>
$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    })});
</script>
