<% @resources.each do |resource| %>
  <div class="well wellbig vertical-container">
    <div class="row">

    <div class="col-xs-3 col-md-2 vcenter">
        <%= link_to resource, target: "_blank", class: "btn btn-default resource-button" do%>
        <i class="fa fa-send fa-2x iconstyle">
          <div>
            <%= resource.lrt %>
          </div>
        </i>
        <% end %>
    </div>

    <div class="col-xs-9 col-md-8 vcenter">
        <h4 class="media-heading">
        <%= link_to raw(resource.title), resource, target: "_blank" %>
      </h4>
      <%= raw resource.description.truncate(300) %>
    </div>

    <div class="col-md-2">
      <div class="media-right panel panel-default wellsmall" style="padding-left: 0px;">
        <div class="panel-body body-text">
          <span class="fa fa-rocket icpad"></span>
          <%= resource.subject %></br>

          <span class="fa fa-graduation-cap icpad"></span>
          <%= resource.grade %></br>

          <span class="fa fa-language icpad"></span>
          <%= resource.language %></br>
        </div>
        <div class="panel-footer" style= "text-align: center; padding: 5px;">
          <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-outline btn-info btn-sm" data-toggle="modal" data-target="#myModal">View Details</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resource Details</h4>
              </div>
              <div class="modal-body" style="text-align:left;">
                <p>
                  <strong>Title:</strong>
                  <%=raw resource.title %>
                </p>

                <p>
                  <strong>Description:</strong>
                  <%=raw resource.description %>
                </p>

                <p>
                  <strong>URL:</strong>
                  <%= resource.url %>
                </p>

                <p>
                  <strong>LRT:</strong>
                  <%= resource.lrt %>
                </p>

                <p>
                  <strong>Subject:</strong>
                  <%= resource.subject %>
                </p>

                <p>
                  <strong>Keywords:</strong>
                  <%= resource.keyword.gsub(/(?:\n\r?|\r\n?)/, ', ') %>
                </p>

                <p>
                  <strong>Author/Publisher:</strong>
                  <%= resource.author_publisher %>
                </p>

                <p>
                  <strong>Academic Levels:</strong>
                  <%= resource.grade %>
                </p>

                <p>
                  <strong>Roles:</strong>
                  <%= resource.role %>
                </p>

                <p>
                  <strong>Languages:</strong>
                  <%= resource.language %>
                </p>

                <p>
                  <strong>Readability:</strong>
                  <%= resource.readability %>
                </p>

                <p>
                  <strong>Standards:</strong>
                  <%=raw resource.standard.gsub(/(?:\n\r?|\r\n?)/, '<>') %>
                </p>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>

    <% if user_signed_in? %>
      <div class="actions" style="margin-top:-15px;">
        <td><%= link_to edit_resource_path(resource) do %>
          <span class="fa fa-edit"></span>
          Edit
        <% end %></td>
        <td><%= link_to resource, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="fa fa-trash-o"></span>
          Delete
        <% end %></td>
      </div>
    <% end %>
  <% end %>

<br>
<% if user_signed_in? %>
<%= link_to 'New Resource', new_resource_path, class: "btn btn-primary" %>
<% end %>
