<div class="form_top container">
  <p id="notice"><%= notice %></p>

  <div class="jumbotron jumbocustommath">
    <div class = "row">

      <div class = "col-md-7 col-lg-4">
        <div class="embed-responsive embed-responsive-16by9 video_container">
          <video  width="980" height="620" controls poster= "http://ren-network.com/wp-content/uploads/2014/07/Knovation.png">
            <source src= "https://s3-us-west-2.amazonaws.com/knovation-videos/Fine+Arts+Sampler+Video+rendered.mp4" type="video/mp4">
              <p>To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
          </video>
        </div>
      </div>

      <div class= "col-md-5 col-lg-8" style="padding-left:25px; padding-top:20px;">
        <h1 class="results-lead"><b class="subject-lead">Fine Arts</b> Resources</h1>
        <div class="subtext">Curated by Knovation's Curriculum Specialists</div>
      </div>

      </div>
    </div>
    
        <div class="subjecttext">
          Below are a few sample Fine Arts learning resources from our Content Collection.</br>
          Each listing includes certain metadata that describes the resource and aligns it for use in the classroom.
        </div>

  <div class="row">
    <div class="col-xs-4 col-sm-offset-3 col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-5"></div>
        <%= link_to 'All', finearts_path, class: "btn btn-primary"%>
      <div class="btn-group">
        <%= link_to 'Elementary', finearts_path(:elementary_finearts => true), class: "btn btn-info" %>
        <%= link_to 'Middle', finearts_path(:middle_finearts => true), class: "btn btn-info" %>
        <%= link_to 'High', finearts_path(:high_finearts => true), class: "btn btn-info" %>
      </div>
    </div>
  </br>
    <%= render 'resources/resourceresults' %>
</div>
