<div class="form_top container">
  <p id="notice"><%= notice %></p>

  <div class="jumbotron jumbocustommath">
    <div class = "row">

      <div class = "col-md-7 col-lg-4">
        <div class="embed-responsive embed-responsive-16by9 video_container">
          <video  width="980" height="620" controls poster= "http://ren-network.com/wp-content/uploads/2014/07/Knovation.png">
            <source src= "https://knovationlearning.sharepoint.com/sites/marketing-pr/Shared%20Documents/Science%20Sampler%20Video%20project.mp4?e=4%3A7f5f8a1ae0e6415a9e23338e57ddc3b2" type='video/mp4'>
              <p>To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
          </video>
        </div>
      </div>

      <div class= "col-md-5 col-lg-8" style="padding-left:25px; padding-top:20px;">
        <h1 class="results-lead"><b class="subject-lead">Science</b> Resources</h1>
        <div class="subtext">Curated by Knovation's Curriculum Specialists</div>
      </div>

      </div>
    </div>

  <div class="row">
    <div class="col-xs-4 col-sm-offset-3 col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-5"></div>
        <%= link_to 'All', science_path, class: "btn btn-primary"%>
      <div class="btn-group">
        <%= link_to 'Elementary', science_path(:elementary_science => true), class: "btn btn-info" %>
        <%= link_to 'Middle', science_path(:middle_science => true), class: "btn btn-info" %>
        <%= link_to 'High', science_path(:high_science => true), class: "btn btn-info" %>
      </div>
    </div>
  </br>
    <%= render 'resources/resourceresults' %>
</div>
